@using ShoppingCart.Models;
@model OrderSummary


@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Layout/SharedLayout.cshtml";
}

@section main {
    <div>
        <dl class="dl-horizontal">

            <dt> 
                OrderID              
            </dt>

            <dd>
                @Model.Order.OrderID
            </dd>

            @Model.Order.DateOrder
            @Model.Order.Customer.UserName
            @Model.Order.Address
            @Model.Order.CreditCard
        </dl>

        <table class="table table-view-cart mrb30">
            <thead>
                <tr>
                    <th width="30%">
                        Item
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Total Price
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var cartItem in Model.OrderDetail)
                {
                    <tr>
                        <td class="text-left">
                            <div class="col-sm-9 col-xs-8 text-left">
                                <div class="name-prd">
                                    @cartItem.Product.Title
                                </div>
                             </div>
                        </td>

                         <td>
                            @cartItem.Quantity
                        </td>

                        <td class="text-left">
                            @String.Format("{0:0,0}", cartItem.Product.Price) $
                        </td>

                        <td class="text-left">
                            @String.Format("{0:0,0}", cartItem.TotalPrice) $
                        </td> 
                 </tr>
                }
            </tbody>
        </table>
        @Model.Order.TotalGrand
    </div>
}
