@using ShoppingCart.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Cart>
 
@{
	Layout = "~/Views/Layout/SharedLayout.cshtml";   
	ViewBag.Title = "Cart";
}

@section main {

	<div class="content">
		<div class="content_top">
			<div class="heading">
				<h3>Your Cart</h3>
			</div>

			<div class="clear"></div>
		</div>

		<div class="clear"></div>


			@foreach (var product in Model)
			{<div class="content_top">
				<div class="image group">
					<div class="grid images_3_of_1">
						<img src="~/images/newsimg2.jpg" alt="" />
					</div>
					<div class="grid news_desc">
						<h3><a href="@Url.Action("ProductDetail", "Product", new { @ProductID = product.ProductID })">@product.Title</a></h3>
						<h4><b>Quantity:</b>   @product.Quantity</h4>
						<h4><b>Price:</b>      @product.Price</h4>
						<h4><b>TotalPrice:</b> @product.TotalPrice</h4>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			}

        <div id="customeUpdate"><button class="button">@Html.ActionLink("Edit Cart", "EditCart")</button></div>
        <div id="customeCheckout">
            @using (Html.BeginForm("Order", "Order"))
            {
                <input type="submit" value="Order" 
                       style="width: 120px; 
                       height: 50px;		
                       background-color:#B81D22;		
                       border-radius: 10px;		
                       float:right" class="button"/>
            }
        </div>

        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount*@
        <div class="MenuPage">
            @Html.PagedListPager(Model, page => Url.Action("Cart", new { page = page }))
        </div>
        <style>
            .MenuPage li {
                display: inline;
            }
        </style>

	</div>
}

